<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Se connecter</h3>
    <div class="form-group">
      <%= f.label :firstname, "Prénom" %>
      <%= f.text_field :firstname, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :surname, "Nom" %>
      <%= f.text_field :surname, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :gender, "Sexe" %><br />
      <%= f.radio_button :gender, '1' %>
      <%= f.label :gender, "Homme", :value => "1" %></br />
      <%= f.radio_button :gender, '2' %>
      <%= f.label :gender, "Femme", :value => "2" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit "S'inscrire", :class => 'button right' %>
  <% end %>
</div>
