<% content_for( :messages ) do %>
  <%= render partial: 'layouts/messages', locals: { flash_class: 'floating' } %>
<% end %>

<div id="slider" data-ride="carousel" class="carousel home-carousel slide" style="text-align:center">
    <div class="carousel-inner" style="text-align:center;">

        <div class="item relative discovery-card active"
             style="background:url('<%= image_url('main_bg.jpg') %>') no-repeat center center;background-size:cover;">
            <div class="va-container va-container-v va-container-h"><p class="va-middle text-center text-contrast">Et si notre canapé <br> nous plaçait aux premières loges ?<br/></p>
            </div>
        </div>


        <div class="container" id="search-bar-home">
            <div class="row" id="htw-home-link">
                <a class="btn btn-lg btn-classic" href="#how-it-works"
                   style="padding-left:20px;padding-right:20px;"><span class="glyphicon glyphicon-heart"></span> Trouvez
                    un performeur</a>
            </div>
        </div>


    </div>
    <div class="relative" itemscope itemtype="//schema.org/WebPage">
        <aside class="aside_bg" style="padding-bottom:70px;">
            <div class="container">
                <h2 class="title text-center" style="padding-bottom:0 !important">Ils ont quelque-chose à vous
                    montrer</h2>
                <p style="padding-top:15px;text-align:center;margin-bottom:60px;font-size:15px;">
                    Découvrez leur talent depuis le comfort de votre canapé</p>


                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">

                                <div class="discovery-card"
                                     style="background:url('<%= image_url('img-1.jpg') %>');">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">

                                <div class="discovery-card"
                                     style="background:url('<%= image_url('img-2.jpg') %>');">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">

                                <div class="discovery-card"
                                     style="background:url('<%= image_url('img-3.jpg') %>');">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">

                                <div class="discovery-card"
                                     style="background:url('<%= image_url('img-4.jpg') %>');">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="text-center" style="padding-top:50px;padding-bottom:30px"><a
                                        style="padding:9px 20px 10px 20px;font-size:15px;border-radius:0;"
                                        class="btn-xl btn btn-performer" href="">Découvrez tous les performeurs</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </aside>
        <aside class="site-how-it-works text-center" id="how-it-works">
            <h2 class="title" style="padding-bottom:40px">How it works</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img src="//static.vizeat.com/assets/img/search.png" alt="" class=""/>
                        <h4 class="feature_header">
                            Découvrez</h4>
                        <p class="features_content">
                            Flanez à la rencontre de nos performeurs. Découvrez leur art et leurs talents.
                            Magicien aux lapins blancs ou joueur de banjo ?</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="//static.vizeat.com/assets/img/calendar.png" alt="" class=""/>
                        <h4 class="feature_header">
                            Réservez</h4>
                        <p class="features_content">
                            Choisissez la prestation de vos
                            rêves, échangez avec vos amis et réservez les
                            yeux fermés grâce à notre site sécurisé</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="//static.vizeat.com/assets/img/enjoy.png" alt="" class=""/>
                        <h4 class="feature_header">
                            Partagez</h4>
                        <p class="features_content">
                            Installez vous confortablement aux cotes de vos amis pour une aventure
                            culturelle et humaine unique où partage et talent se rencontrent</p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
