<header id="header" class="navbar navbar-static-top affix" id="top" role="banner" data-spy="affix" data-offset-top="490">
    <div style="padding:0 30px">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag( 'logo.png', class: 'logo' ), root_path, class: 'navbar_brand', id: 'the_logo' %>
<!--
            <a id="the_logo" class="navbar-brand " href="/">
                <img src="assets/img/logo.png " style="margin-top: 0;width: 100px; height: 100px;-moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px;">
            </a>
-->
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
                <li><a href="" class="nav_links">Connexion</a></li>
                <li><a href="" class="nav_links">Inscrivez-vous</a></li>
                <li><a href="" class="btn btn-performer">Devenez performeur</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
